
<div ng-init="init()">

<br/>
ID: <input ng-model="searchId"/> &nbsp;<input ng-click="searchByPetId()" value="search" type="button"/><br/>
<br/>
<b>Pets:</b><br/>
<table class="table table-striped">
	<thead>
		<tr>
			<th>id</th>
			<th>name</th>
			<th>category</th>
			<th>tags</th>
			<th>photo</th>
			<th>status</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="pet in appData.pets">
			<td>{{::pet.id}}</td>
			<td><a ui-sref="secured.pet.details({id:pet.id})">{{::pet.name}}</a></td>
			<td>{{::pet.category}}</td>
			<td>{{::pet.tags}}</td>
			<td><a ui-sref="secured.pet.details({id:pet.id})"><img height="50" ng-src="/images/{{::pet.photoUrls}}"/></a></td>
			<td>{{::pet.status}}</td>
		</tr>
	</tbody>
</table>

<div ui-view="details">
</div>
</div>

